#menu-1 .mbr-brand__name {
  font-size: 16px;
}
#menu-1.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-1 .mbr-navbar__section {
  background: #ffffff;
}
#menu-1 .mbr-navbar__hamburger {
  color: #475577;
}
#header1-2 H1 {
  font-size: 46px;
  text-align: left;
  color: #475577;
}
#header1-2 P {
  text-align: left;
  color: #475577;
}
#content5-9 .mbr-header .mbr-header__text {
  text-align: center;
  color: #475577;
  font-size: 36px;
}
#content5-9 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-9 .mbr-article {
  color: #fff;
}
#content5-9 .mbr-article P {
  color: #475577;
  font-size: 21px;
}
#form1-b .mbr-header__text {
  font-size: 36px;
  color: #475577;
}
#contacts1-j P {
  color: #475577;
}
